* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.icons {
    font-size: 2em;
    color: #0084FD;
    text-align: center;
}

.container {
    width: 100%;
}



.dflexnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2em 0 2em;
}


.logo {
    max-width: 60%;
    min-height: 3em;
    margin: 0.5em;
    padding: 1em;
}

.menu {
    min-width: 20%;
    min-height: 3em;
    margin: 0.5em;
    padding: 1em;

}

.menubutton{
    border-radius: 30px;
    background-color: white;
    min-width: 6em;

}

.menu > .menubutton, .menuitems{
    display: none;
}

.dflex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.dflexlilaccards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.bigcard {
    min-height: 4em;
    margin: 0.5em auto;
    width: 80%;
    text-align: center;
    padding: 1em;
    border-radius: 20px;
}

.bigbutton {
    width: 10em;
    min-height: 2em;
    border-radius: 20px;
    margin-top: 1em;
    text-align: center;
    border: none;
}

.smallbutton {
    width: 6em;
    min-height: 2em;
    border-radius: 10px;
    margin-top: 1em;
    border: none;
}

.buttonicon {
    width: 15em;
    min-height: 2em;
    border-radius: 20px;
    margin-top: 1em;
    border: none;

}

.smallcard {
    width: 80%;
    min-height: 4em;
    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 20px;

}



.smallcard1 {
    width: 80%;
    min-height: 2em;
    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 20px;

}

.lilaccard {
    width: 80%;
    margin: 0.5em auto;
    padding: 0.5em;
    border-radius: 10px;

}

.testimonialphoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}

.containerlilac {
   width: 50%;
   max-height: 50%;
   margin-top: 2em;

}

.mediumcard {
    width: 90%;
    min-height: 3em;
    border-radius: 20px;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
}

.arrow {
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin: 1em auto;
    line-height: 2em;
    text-align: center;
}

.text {
    margin: 1em;
}

.phoneimg{
    max-width: 40%;
    max-height: 20em;
}

.textleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* * UTILITIES * */

/* * WIDTH * */

.width-60{
    width: 60%;
}

.width-100{
    width: 100%;
}

/* BACKGROUND */

.bg-blue {
    background-color: #0084FD;

}

.bg-lightblue {
    background-color: #B5DDFF;

}

.bg-lilac {
    background-color: #9593E6;
}


.bg-white {
    background-color: white;
}

.bg-black {
    background-color: #333333;
}

/* * TEXT COLOR * */

.text-color-blue {
    color: #0084FD;
}

.text-color-lilac {
    color: #9792E4;
}

.text-color-white {
    color: white;
}

.text-color-orange {
    color: #FDC15F;
}

.text-color-gray{
    color: #D0CFF2;
}

.text-center {
    text-align: center;
}

.font-size{
    font-size: 15px;
}

/* * MARGIN * */

.margin-top {
    margin-top: 1em;
}

.margin-top2 {
    margin-top: 2em;
}

.margin-top05 {
    margin-top: 0.5em;
}

.margin-bottom {
    margin-bottom: 1em;

}

.margin-bottom-20{
    margin-bottom: -20px;
}

.margin-right {
    margin-right: 0.5em;
}

.margin-left {
    margin-left: 0.5em;
}

.margin {
    margin: 1em 0.5em;
}

.margin-auto {
    margin: auto;
}

/* * PADDING * */

.padding {
    padding: 1em;
}

/* * FLEX * */

.wrap{flex-wrap: wrap;}
.nowrap{ flex-wrap: nowrap;
    
}

/* * POSITION *

.position-rel{
    position: relative;
}

.position-abs{
    position: absolute;
    bottom: 0;
    width: 12em;
} */

/* * QUERIES * */

/* TABLET*/

@media screen and (min-width: 768px) {

    .container {
        width: 766px;
        margin: auto;
    }

    .containerlilac{
        width: 400px;
        margin: auto;
        margin-top: 2em;
        display: flex;
    }

    .dflex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bigcard {
        width: calc(100% / 3 * 2  - 0.5em);
        position: relative;
    }

    .phoneimg{
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 12em;
    }

    .smallcard {
        width: calc(100% / 3 - 0.5em);
    
    }

    .mediumcard {
        width: 70%;
        margin: auto;
        margin-bottom: 2em;
    }

    .dflexlilaccards {
        flex-direction: column;
    }

    .lilaccard {
        justify-content: center;
    }

    .smallcard.bg-white {
        width: 45%;

    }

    .cardl {
        width: 70%;
        padding: 2em;
    }

    .smallcard1 {
        width: 100%;
    }

    .w30 {
        width: 30%;
        padding: 2em;
    }

    .subscription {
        width: 60%;
        margin: auto;
        flex-direction: column;
    }

    .container.bg-black {
        width: 100%;
        margin: auto;
    }

    .blackft{
        width: 766px;
    }

    .hamburger{
        margin-left: 5em;
    }

    .neighbors{
        min-height: 400px;
    }
}

@media screen and (min-width:992px) {

    .container {
        width: 990px;
        margin: auto;
    }

    .dflex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .dflex.cards{
        display: flex;
        flex-wrap: wrap;
    }

    .dflex.subscription{
        display: flex;
        flex-direction: column;
    }
    
    .dflex.blackft{
        display: flex;
        flex-direction: column;
    }

    .lilaccard{
        flex-direction: column;
    }

    .mediumcard {
        width: 50%;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .containerlilac{
        width: 50%;
    }

    .text > h4{
        text-align: left;
    }
    .text > p{
        text-align: left;
    }

    .container.bg-black {
        width: 100%;
        margin: auto;
    }

    .blackft{
        width: 990px;
        margin: auto;
    }
    
    .bigcard{
        display: flex;
        flex-direction: row;
        min-height: 14em;
        position: relative;
    }

    .phoneimg{
        position: absolute;
        width: 12em;
        bottom: 0;
        left: 60%;
    }

    .smallcard{
        min-height: 14em;
        
    }

    .wt60{
        width: 60%;
    }

    .menu > .menubutton, .menuitems{
        display: block;
    }
    .menu > .menuitems{
        color: white;     
    }


    .menubutton{
        color: black;
        padding: 0.5em;
    }

    .hamburger{
        display: none;
    }
    
}

